@{
    ViewData["Title"] = "Dashboard";
}

<div class="add_user_heading d-flex justify-content-between">
    <div class="fw-bold fs-2">Dashboard</div>
    <div class="d-flex">
        @* <a asp-controller="User" asp-action="UserList" class="btn btn-primary ms-3">&lt; Back</a> *@
        <select class="form-select dropdown">
            <option>Current Month</option>
        </select>
    </div>
</div>

<div class="add_user_form" style="background-color: #F2F2F2;">
    <div class="row mx-2 ">
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px; ">
            1
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            2
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            3
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            4
        </div>
    </div>

    <div class="row mx-2">
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            5
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            6
        </div>
    </div>

    <div class="row mx-2">
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            7
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            8
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            9
        </div>
        <div class="col m-2" style="height: 20vh; background-color: white; border-radius: 10px;">
            10
        </div>
    </div>
</div>




@model DAL.ViewModels.DashboardViewModel
@{
    @* Layout = "~/Views/Shared/_DashboardLayout.cshtml"; *@
    ViewData["Title"] = "Admin Dashboard";
}
<style>
    .dashboard-icon {

        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .dashboard-icon-outer {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    #filterDropdown {
        width: 230px;
    }

    .scrollable-least-items {
        max-height: 190px;
        overflow-y: auto;
        scrollbar-width: thin;
    }
</style>

<div style="background-color: #f2f2f2;">

    @* @ <h1>@ViewData["UserName"]</h1> @ *@
    <div class="d-flex flex-wrap align-items-center justify-content-between px-3 pt-3">
        <h2 class="fw-bold mb-2 special-color">Dashboard</h2>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                CurrentMonth
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterDropdown" style="width: 230px;">
                <li><a class="dropdown-item" href="#" onclick="applyFilter('Today')">Today</a></li>
                <li><a class="dropdown-item" href="#" onclick="applyFilter('Last 7 Days')">Last 7 Days</a></li>
                <li><a class="dropdown-item" href="#" onclick="applyFilter('Last 30 Days')">Last 30 Days</a></li>
                <li><a class="dropdown-item" href="#" onclick="applyFilter('Current Month')">Current Month</a></li>
                <li><a class="dropdown-item" href="#" onclick="applyFilter('Custom Date')">Custom Date</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row gx-4">

            <div class="col-12 col-md-6 col-lg-3 cards  mt-3">
                <div class="bg-white shadow rounded p-2">
                    <div class="d-flex justify-content-end ">
                        <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                            style="border: 1px solid rgb(93, 214, 93);">
                            <div class="dashboard-icon d-flex justify-content-center align-items-center"
                                style="background-color: rgb(93, 214, 93);">
                                <img src="~/images/icons/total-sales.svg" height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <h2 class="text-left"> &#x20b9; @Model.TotalSales</h2>
                    </div>
                    <div class="d-flex justify-content-start opacity-50">
                        <span>Total Sales</span>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 cards mt-3">
                <div class="bg-white shadow rounded p-2">
                    <div class="d-flex justify-content-end">
                        <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                            style="border: 1px solid rgb(255, 118, 255);">
                            <div class="dashboard-icon d-flex justify-content-center align-items-center"
                                style="background-color: rgb(255, 118, 255);">
                                <img src="~/images/icons/total-orders.svg" height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <h2 class="text-left"> @Model.TotalOrders</h2>
                    </div>
                    <div class="d-flex justify-content-start opacity-50">
                        <span>Total Orders</span>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 cards mt-3">
                <div class="bg-white shadow rounded p-2">
                    <div class="d-flex justify-content-end">
                        <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                            style="border: 1px solid rgb(180, 180, 180);">
                            <div class="dashboard-icon d-flex justify-content-center align-items-center"
                                style="background-color: rgb(180, 180, 180);">
                                <img src="~/images/icons/total-orders.svg" height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <h2 class="text-left"> &#x20b9; @Model.AverageOrderValue</h2>
                    </div>
                    <div class="d-flex justify-content-start opacity-50">
                        <span>Avg Order Value</span>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 cards mt-3">
                <div class="bg-white shadow rounded p-2">
                    <div class="d-flex justify-content-end">
                        <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                            style="border: 1px solid rgb(255, 118, 64);">
                            <div class="dashboard-icon d-flex justify-content-center align-items-center"
                                style="background-color: rgb(255, 118, 64);">
                                <img src="~/images/icons/waiting-time.svg" height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <h2 class="text-left"> @Model.AverageWaitingTime mins</h2>
                    </div>
                    <div class="d-flex justify-content-start opacity-50">
                        <span>Avg Waiting Time</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row gx-4">
            <div class="col-lg-6 col-12 cards mt-4">
                <div class="d-flex flex-column bg-white shadow rounded p-2 h-100">
                    <h4>Revenue</h4>
                    <div class="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 cards mt-4">
                <div class="d-flex flex-column bg-white shadow rounded p-2 h-100">
                    <h4>Customer Growth</h4>
                    <div class="chart">
                        <canvas id="customerGrowthChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-12 col-md-6 col-lg-3 cards mt-4 scrollable-least-items">
                <div class="d-flex flex-column bg-white shadow rounded p-2 h-100">
                    <h4 class="mb-3">Top Selling Items</h4>
                    <div style="max-height: 300px; overflow-y: auto;">
                        @if (Model.TopSellingItems != null && Model.TopSellingItems.Any())
                        {
                            int rank = 1;
                            foreach (var item in Model.TopSellingItems)
                            {
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <span class="fw-bold">#@rank</span>
                                    <img src="@item.ImageUrl" alt="" height="40" width="40" class="mx-2 rounded">
                                    <div class="d-flex flex-column">
                                        <span>@item.Name</span>
                                        <div class="d-flex align-items-center">
                                            <img src="~/images/sidebar icons/menu.png" alt="" width="20" height="20"
                                                class="me-1">
                                            @item.OrderCount Order@(item.OrderCount > 1 ? "s" : "")
                                        </div>
                                    </div>
                                </div>
                                rank++;
                                if (rank <= Model.TopSellingItems.Count)
                                {
                                    <hr class="my-2" />
                                }
                            }
                        }
                        else
                        {
                            <span class="text-muted">No data available.</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 cards mt-4 scrollable-least-items">
                <div class="d-flex flex-column bg-white shadow rounded p-2 h-100">
                    <h4 class="mb-3">Least Selling Items</h4>
                    <div style="max-height: 300px; overflow-y: auto;">
                        @if (Model.LeastSellingItems != null && Model.LeastSellingItems.Any())
                        {
                            int rank = 1;
                            foreach (var item in Model.LeastSellingItems)
                            {
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <span class="fw-bold">#@rank</span>
                                    <img src="@item.ImageUrl" alt="" height="40" width="40" class="mx-2 rounded">
                                    <div class="d-flex flex-column">
                                        <span>@item.Name</span>
                                        <div class="d-flex align-items-center">
                                            <img src="~/images/sidebar icons/menu.png" alt="" width="20" height="20"
                                                class="me-1">
                                            @item.OrderCount Order@(item.OrderCount > 1 ? "s" : "")
                                        </div>
                                    </div>
                                </div>
                                rank++;
                                if (rank <= Model.LeastSellingItems.Count)
                                {
                                    <hr class="my-2" />
                                }
                            }
                        }
                        else
                        {
                            <span class="text-muted">No data available.</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 cards mt-4">
                <div class="bg-white shadow rounded p-2  h-100 d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-end">
                        <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                            style="border: 1px solid orange;">
                            <div class="dashboard-icon d-flex justify-content-center align-items-center"
                                style="background-color: orange;">
                                <img src="~/images/icons/waiting-list.svg" height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-start">
                            <h2 class="text-left">@Model.WaitingListCount</h2>
                        </div>
                        <div class="d-flex justify-content-start opacity-50">
                            <span>Waiting List Count</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 cards mt-4">
                <div class="bg-white shadow rounded p-2  h-100 d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-end">
                        <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                            style="border: 1px solid orange;">
                            <div class="dashboard-icon d-flex justify-content-center align-items-center"
                                style="background-color: orange;">
                                <img src="~/images/icons/waiting-list.svg" height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-start">
                            <h2 class="text-left">@Model.NewCustomer</h2>
                        </div>
                        <div class="d-flex justify-content-start opacity-50">
                            <span>New Customer Count</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function applyFilter(filterType) {
        const url = `@Url.Action("Index", "Home")?filter=${encodeURIComponent(filterType)}`;
        window.location.href = url;
    }

    const revenueCtx = document.getElementById('myChart').getContext('2d');
    const revenueChart = new Chart(revenueCtx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.RevenueChartData.Select(d => d.Label))),
            datasets: [{
                label: 'Revenue',
                data: @Html.Raw(Json.Serialize(Model.RevenueChartData.Select(d => d.Value))),
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                tension: 0.4,
                fill: true
            }]
        }
    });


    const customerCtx = document.getElementById('customerGrowthChart').getContext('2d');
    const customerGrowthChart = new Chart(customerCtx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.CustomerGrowthData.Select(d => d.Label))),
            datasets: [{
                label: 'Customer Growth',
                data: @Html.Raw(Json.Serialize(Model.CustomerGrowthData.Select(d => d.Value))),
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                tension: 0.4,
                fill: true
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { position: 'top' },
                title: {
                    display: true
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: { stepSize: 1 }
                }
            }
        }
    });
</script>


[HttpGet("Index")]
    public async Task<IActionResult> Index(string filter = "Current Month")
    {
        var model = await _dashboardRepo.GetDashboardDataAsync(filter);
        return View(model);
    }

public async Task<DashboardViewModel> GetDashboardDataAsync(string filter)
    {
        DateTime startDate, endDate;
        var today = DateTime.Today;

        switch (filter)
        {
            case "Today":
                startDate = today;
                endDate = today.AddDays(1);
                break;
            case "Last 7 Days":
                startDate = today.AddDays(-6);
                endDate = today.AddDays(1);
                break;
            case "Last 30 Days":
                startDate = today.AddDays(-29);
                endDate = today.AddDays(1);
                break;
            case "Current Month":
                startDate = new DateTime(today.Year, today.Month, 1);
                endDate = startDate.AddMonths(1);
                break;
            default:
                startDate = new DateTime(today.Year, today.Month, 1);
                endDate = startDate.AddMonths(1);
                break;
        }

        var ordersInRange = await _context.Orders
            .Where(o => o.Createdat >= startDate && o.Createdat < endDate)
            .ToListAsync();

        var totalSales = ordersInRange.Sum(o => o.Totalamount);
        var totalOrders = ordersInRange.Count;
        var avgOrderValue = Math.Round(totalOrders > 0 ? totalSales / totalOrders : 0,2);

        // Serving time calculation from OrderDetails
        var servedDetails = await _context.Orderdetails
            .Include(od => od.Order)
            .Where(od =>
                od.Servingtime != null &&
                od.Order != null &&
                od.Order.Createdat >= startDate &&
                od.Order.Createdat < endDate &&
                od.Order.Createdat.HasValue)
            .ToListAsync();

        double avgWaitingTime = servedDetails.Any()
            ? servedDetails.Average(od => (od.Servingtime.Value - od.Order.Createdat.Value).TotalMinutes)
            : 0;

        // Revenue chart data
        var revenueChart = ordersInRange
            .GroupBy(o => o.Createdat.Value.Date)
            .Select(g => new ChartDataPoint
            {
                Label = g.Key.ToString("MMM dd"),
                Value = g.Sum(o => o.Totalamount)
            })
            .OrderBy(g => g.Label)
            .ToList();

        // Customer growth
        var customerGrowth = _context.Customers
            .Where(c => c.Createdat.HasValue && c.Createdat >= startDate && c.Createdat < endDate)
            .GroupBy(c => c.Createdat.Value.Date)
            .AsEnumerable() 
            .Select(g => new ChartDataPoint
            {
                Label = g.Key.ToString("MMM dd"),
                Value = g.Count()
            })
            .OrderBy(e => e.Label)
            .ToList(); 

        // Top selling items
        var topItems = await _context.Orderdetails
            .Where(od => od.Order.Createdat >= startDate && od.Order.Createdat < endDate)
            .GroupBy(od => od.Item.Itemname)
            .OrderByDescending(g => g.Sum(od => od.Quantity))
            .Take(5)
            .Select(g => new TopItem
            {
                Name = g.Key,
                OrderCount = g.Sum(od => od.Quantity),
                ImageUrl = "/images/dining-menu.png"
            })
            .ToListAsync();

        // Least selling items
        var leastItems = await _context.Orderdetails
            .Where(od => od.Order.Createdat >= startDate && od.Order.Createdat < endDate)
            .GroupBy(od => od.Item.Itemname)
            .OrderBy(g => g.Sum(od => od.Quantity))
            .Take(5)
            .Select(g => new TopItem
            {
                Name = g.Key,
                OrderCount = g.Sum(od => od.Quantity),
                ImageUrl = "/images/dining-menu.png"
            })
            .ToListAsync();

        // Waiting list count (no filter for now)
        var waitingCount = await _context.Customerwaitingtokens.Where(i => i.Tableassigntime == null).CountAsync();
        var NewCustomer = await _context.Customers.Where(cs => cs.Createdat >= startDate && cs.Createdat < endDate).CountAsync();

        return new DashboardViewModel
        {
            TotalSales = totalSales,
            TotalOrders = totalOrders,
            AverageOrderValue = avgOrderValue,
            AverageWaitingTime = Math.Round(avgWaitingTime, 2),
            RevenueChartData = revenueChart,
            CustomerGrowthData = customerGrowth,
            TopSellingItems = topItems,
            LeastSellingItems = leastItems,
            WaitingListCount = waitingCount,
            NewCustomer = NewCustomer
        };
    }
namespace DAL.ViewModels;

public class DashboardViewModel
{
    public decimal TotalSales { get; set; }
    public int TotalOrders { get; set; }
    public decimal AverageOrderValue { get; set; }
    public double AverageWaitingTime { get; set; }

    public List<ChartDataPoint> RevenueChartData { get; set; }
    public List<ChartDataPoint> CustomerGrowthData { get; set; }

    public List<TopItem> TopSellingItems { get; set; }
    public List<TopItem> LeastSellingItems { get; set; }

    public int WaitingListCount { get; set; }
    public int NewCustomer { get; set; }
}

public class ChartDataPoint
{
    public string Label { get; set; }
    public decimal Value { get; set; }
}

public class TopItem
{
    public string Name { get; set; }
    public int OrderCount { get; set; }
    public string ImageUrl { get; set; }
}
